version: "3.8"
services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server/data:/usr/src/app/data
    environment:
      - PORT=3000
      - CORS_ORIGIN=http://localhost:5173
  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:3000